@tailwind base;
@tailwind components;
@tailwind utilities;
/** other custom global styles can go here */
/* Fonts Setting */
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.barlow-medium {
  font-family: "Barlow";
  font-weight: 500;
  font-style: normal;
}
.barlow-semibold {
  font-family: "Barlow";
  font-weight: 600 !important;
  font-style: normal;
}
ion-button {
    text-transform: none !important;
  }
  .input-wrapper.sc-ion-input-md{
min-height: 44px;
padding: 0px 8px;
  }
  .input-fill-outline.sc-ion-input-md-h{
    --border-radius: 16px;
  }
  .custom-radio {
    appearance: none;
    border: 1px solid #C6A15A; /* gray-300 */
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
  }
  .custom-radio:checked::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #C6A15A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  * {
    font-family: 'Barlow';
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* OverRide Classess for Mobile Screen */
.sc-ion-input-md-h {
  --highlight-color-focused: unset;
}
.native-wrapper.sc-ion-input-md{
  border-radius: 20px;
  padding:0;
}
.input-label-placement-start.sc-ion-input-md-h .input-wrapper.sc-ion-input-md {
  background: #222428;
  border-radius: 30px;
}
ion-modal#example-modal {
  --width: 90%;
  --height: 55%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
ion-modal#example-modal::part(backdrop) {
  background: #000;
  opacity: 0.5;
}