/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --bg-primary-button: #c6a15a;
  --bg-primary: #ffffff;
  --color-secondary: #ffffff;
  --background: #f5f6fa;
  --text: #222224;
  --primary-text-button: #ffffff;
  --border: #dddddd;
  --line: #222224;
  --women-svg: #d82316;
  --men-svg: #015aef;
}

.dark {
  --color-secondary: #383839;
  --background: #222224;
  --text: #f5f6fa;
  --primary-text-button: #222224;
  --border: #383839;
  --line: #ffffff;
}
