/* .veriff-submit {
    width: 50% !important;
    align-items: center;
    justify-content: center;
} */

/* form.veriff-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.registration-form {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 140px;
}

.email-input {
    height: 30px;
    width: 20%;
    margin: 10px 0px 2px 0px;
}

.password-input {
    height: 30px;
    width: 20%;
    margin: 5px 0px 15px 0px;
}

.btn-signup {
    height: 30px;
    width: 20%;
    background-color: goldenrod;
    color: #fff;
}

.btn-signup-google {
    height: 30px;
    width: 20%;
    margin: 5px 0px 0px 0px;
    background-color: goldenrod;
    color: #fff;
}

.btn-signup:hover {
    background-color: goldenrod;
}

.btn-signup-google:hover {
    background-color: goldenrod;
}

.gender-identification {
    display: row;
    margin-left: 0px;
    justify-content: space-around;
}

.gender-button {
    color: #fff;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-radius: 40px;
    margin: 0px 10px 0px 10px;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

.gender-button:hover {
    background-color: gray;
}

.income-identification {
    display: flex;
    margin-left: 150px;
}

.arglye-button {
    height: 30px;
    width: 5%;
    padding: 5px 0px 0px 10px;
    background-color: goldenrod;
    margin: 0px 0px 0px 10px;
    color: #fff;
}

p.veriff-description {
    color: white;
}

.veriff-identification {
    flex-direction: column;
    margin: -20px 0px 0px 20px;
}

.veriff-identification p {
    color: #fff;
}

.veriff-button {
    height: 30px;
    width: 20%;
    padding: 10px;
    background-color: goldenrod;
    margin: 0px 10px 0px 0px;
    color: #fff;
}

.phone-input {
    height: 40px;
    width: 60%;
    border: none;
    background-color: #fff;
    margin: 0px 10px 0px 0px;
}

.request-otp {
    /* height: 40px;
    width: 100%;
    margin-top: 10px;
    color: goldenrod; */
}

.txt-veriff {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

img.veriffLogo {
    position: 'absolute';
    margin-top: '50px';
}

.edit-mode,
.display-mode {
    margin: 0px;
}

.edit-container {
    display: flex;
    align-items: center;
}

.input-field {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.display-text {
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.save-button {
    padding: 8px 16px;
    background-color: #0074b7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #60a3d9;
}

/* Style for the container */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Style for the file input */
.file-input {
    display: none; /* Hide the default file input */
}

.upload-label {
    color: #000;
    padding: 32px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 2px dashed #000;
    transition: background-color 0.3s ease;
}

.upload-label:hover {
    background-color: #2980b9;
}

/* Style for the upload button */
.upload-button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #27ae60;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    margin-bottom: 20px;
  }

  .profile-image-grid {
    display: flex;
  }
  
  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .upload-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .dashed-box {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    box-sizing: border-box;
  }
  
  .uploaded-image {
    width: 100px;
    height: 100px;
    gap: 20;
    object-fit: cover;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
  }

  .truncate {
    display: inline-block;
    width: 100%; /* adjust this value according to your needs */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  

@media screen and (max-width: 390px) and (max-height: 844px) {
    img.veriffLogo {
        position: 'absolute';
        top: '48px';
    }
    .veriff-text {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .phone-input {
        height: 25px;
    }

    .gender-button {
        font-size: 12px;
        color: #fff;
        padding-top: 10px;
        /* padding-left: 20px;
        padding-right: 20px; */
        padding-bottom: 10px;
        border-radius: 40px;
        margin: 0px 10px 0px 10px;
        background-color: goldenrod;
        border: 1px solid goldenrod;
    }

    .txt-veriff {
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }
}
